body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img.avatar {
    height: 100px;
    width: 100px
}

avatarGallery.slick-prev {
    background: rgba(255,255,255,0.65) url(/images/sprite.png) no-repeat 18px -288px;
    width: 48px;
    height: 49px;
    left: 0;
    top: 50%;
    margin-top: -25px;
    right: auto;
}

.blue {
    background: #3498db;
    color: #fff;
}

span.label.label-info {
    font-size: 100%;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("../images/loader.gif") center no-repeat;
}

/* Turn off scrollbar when body element has the loading class */
body.loading {
    overflow: hidden;
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay {
    display: block;
}